<div class="w-full pt-0">
  <div class="static w-full h-20 flex flex-col mx-auto p-3  shadow-md">
    </div>
{% for i in db %}
<body class="w-full pt-0">
  <div class="container mx-auto p-4">
      <table class="w-full table-auto">
          <thead>
              <tr>            
                <th class="border px-4 py-2">{{i.start_date_create_activity}}</th>
                <th class="border text-xl"><a href="activity/{{ i.id }}">{{i.activity_name}}</a><br>
                <div class="text-sm">
                  : รับจำนวน {{i.target_number}} คน
                </div>
                </th>
                  {% if i.img_activity %}
                  <th class="border px-4 py-3 invisible md:visible flex justify-around"><img src="{{i.img_activity.url}}" alt="media/activity/images" width="70" height="70"></th>
                  {% endif %}
                  <th class="border text-xl">ด้านที่ {{i.activity_type}}<br>
                  <div class="text-sm">
                  จำนวนรับ / เหลือ<br>
                  10 / 10
                  </div>
                  </th>
                <th class="border">คณะวิทยาศาสตร์</th>
                <th class="border">กำลังรับสมัคร</th>
              </tr>
          </thead>
      </table>
  </div>
</body>
</html>
{% endfor %}